name: Deploy Nginx

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/nama-web-saya:latest

      - uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}

          key: ${{ secrets.VPS_KEY }}
          port: 22
          script: |
            docker stop my-web-container || true
            docker rm my-web-container || true
            docker pull ${{ secrets.DOCKER_USERNAME }}/nama-web-saya:latest
            docker run -d \
              --name my-web-container \
              --restart always \
              -p 80:80 \
              ${{ secrets.DOCKER_USERNAME }}/nama-web-saya:latest